<% if @active_gambles.present? %>
	<% @active_gambles.each do |ag| %>
		<div class="row-fluid show-grid">
	        <h2><small><%= ag.user.name%></small></h2>
			<div class="span1" style="font-size:40px;margin:23px -30px 0 10px"><%= ag.goals_team_1 %></div>
			<div class="span1"><%= link_to (image_tag ag.match.team1.image.url(:thumb)), ag.match.team1, :class =>'basic-link' %></div>
			<div class="span1 span-versus"><%= image_tag ('versus.gif') %></div>
			<div class="span1"><%= image_tag ag.match.team2.image.url(:thumb), :alt => ag.match.team2.name %></div>
			<div class="span1" style="font-size:40px;margin:23px 0 0 20px"><%= ag.goals_team_2 %></div>
			<div class="span3 span-date muted"><%= standart_date(ag.match.date_match, "/") %></div>
		</div>
	<br/>
	<% end %>
	<div class="flickr_pagination">
	    <%= will_paginate @active_gambles, :previous_label => '← Anterior', :next_label => 'Próximo →' %>
	</div>
<% else %>
 <h2 style="font-size:30px; color:#6495ED;margin-left:5%;">Não há partidas para a atual rodada, ou a mesma foi encerrada, aguarde...</h2>
<% end %>
