<%= form_for(@gamble) do |f| %>
  <% if @gamble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gamble.errors.count, "error") %> prohibited this gamble from being saved:</h2>

      <ul>
      <% @gamble.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %><br />
    <%= f.number_field :active %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :team_1 %><br />
    <%= f.text_field :team_1 %>
  </div>
  <div class="field">
    <%= f.label :team_2_id %><br />
    <%= f.number_field :team_2_id %>
  </div>
  <div class="field">
    <%= f.label :goals_team_1 %><br />
    <%= f.number_field :goals_team_1 %>
  </div>
  <div class="field">
    <%= f.label :goals_team_2 %><br />
    <%= f.number_field :goals_team_2 %>
  </div>
  <div class="field">
    <%= f.label :match %><br />
    <%= f.text_field :match %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
