<h1>Listing gambles</h1>

<table>
  <tr>
    <th>Active</th>
    <th>User</th>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Goals team 1</th>
    <th>Goals team 2</th>
    <th>Match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gambles.each do |gamble| %>
  <tr>
    <td><%= gamble.active %></td>
    <td><%= gamble.user %></td>
    <td><%= gamble.team_1 %></td>
    <td><%= gamble.team_2_id %></td>
    <td><%= gamble.goals_team_1 %></td>
    <td><%= gamble.goals_team_2 %></td>
    <td><%= gamble.match %></td>
    <td><%= link_to 'Show', gamble %></td>
    <td><%= link_to 'Edit', edit_gamble_path(gamble) %></td>
    <td><%= link_to 'Destroy', gamble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gamble', new_gamble_path %>
