<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Um erro foi encontrado</strong><br/>
      <ul>
     <li><%= flash[:error] %></li>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descrição %>
    <%= f.text_field :desc  %>
  </div>
  <div class="field">
    <%= select_tag "championship[championship_id]", options_from_collection_for_select(@championships,"id","desc"), :prompt => "Selecione o campeonato" %> 
  </div>
    <div class="field">
    <%= f.label :data_inicio %>
    <%= f.text_field :start_date, :class =>"ui-date-picker"  %>
  </div>
    <div class="field">
    <%= f.label :data_fim %>
    <%= f.text_field :end_date, :class =>"ui-date-picker"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
