<h1>Listing rounds</h1>

<table>
  <tr>
    <th>Num round</th>
    <th>Desc</th>
    <th>Id championship</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td><%= round.num_round %></td>
    <td><%= round.desc %></td>
    <td><%= round.id_championship %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Round', new_round_path %>
