<p id="notice"><%= notice %></p>

<p>
  <b>Num round:</b>
  <%= @round.num_round %>
</p>

<p>
  <b>Desc:</b>
  <%= @round.desc %>
</p>

<p>
  <b>Id championship:</b>
  <%= @round.id_championship %>
</p>


<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
