<p id="notice"><%= notice %></p>

<p>
  <b>Rodada atual:</b>
  <%= @round.num_round %>
</p>

<p>
  <b>Desc:</b>
  <%= @round.desc %>
</p>

<p>
  <b>Campeonato:</b>
  <%= @round.championship.desc %>
</p>


<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
