<p>
	<span class="label label-info">Ola <%= current_user.name %>, você está no bolao virtual!!!<br/></span>
</p>
<p> 
	<h3>Próxima partida do seu time:</h3>
</p>
<p>  
  <% if @team %>
      <p>
        <div>
          <%= image_tag @user.image.url(:thumb) %>
          <%= @user.name %><br>
          <%= image_tag @team.image.url(:thumb) %>
          <%= @team.name %>
        </div>
      </p>
      <p>
        <% if @match %>
          <%= render 'gamble' %>
        <% else%>
          Não existe partida cadastra ainda, blz? <br>
          Assim que tiver a gente te fala Diouh <br>
          <i>Ass: Bah<i>
        <% end %>
      </p>
  <% else %>
    <p>
      Aposte logo na vitoria do seu time, escolha-o e participe do BolaoDuBah !!! </br>          
    </p>
    <p>
      Seja vencedor assim como o pessoal que desenvolveu este site.
    </p>
    <p>
     <%= render 'team' %>
    </p> 
  <% end %>
</p>
