<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_1 %><br />
    <%= collection_select  :team1, :id, @teams, :id, :name, :prompt => true , :placeholder =>'Escolha seu time' %>
  </div>
  <div class="field">
    <%= f.label :team_2 %><br />
    <%= collection_select  :team2, :id, @teams, :id, :name, :prompt => true , :placeholder =>'Escolha seu time' %>
  </div>
  <div class="field">
    <%= f.label :date_match, "Data Partida" %><br />
    <%= f.date_select :date_match, :order => [:day, :month, :year], :placeholder => 'Data partida', :value => '' %>	
  </div>
  <div class="field">
	<% if !@round == nil %>
    <%= f.label :round %><br />
      <%= f.select :round, @round, :prompt => "Select.." %>
    <% else %>
      Cadastre uma nova rodada
    <% end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
