<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_1 %><br />
    <%= f.number_field :team_1 %>
  </div>
  <div class="field">
    <%= f.label :team_2 %><br />
    <%= f.number_field :team_2 %>
  </div>
  <div class="field">
    <%= f.label :goals_team_1 %><br />
    <%= f.number_field :goals_team_1 %>
  </div>
  <div class="field">
    <%= f.label :goals_team_2 %><br />
    <%= f.number_field :goals_team_2 %>
  </div>
  <div class="field">
    <%= f.label :date_match %><br />
    <%= f.datetime_select :date_match %>
  </div>
  <div class="field">
    <%= f.label :round %><br />
    <%= f.text_field :round %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
