<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> encontrados:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Time_1 %><br />
    <%= collection_select  :team1, :id, @teams, :id, :name, :prompt => true , :placeholder =>'Escolha seu time' %>
  </div>
  <div class="field">
    <%= f.label :Time_2 %><br />
    <%= collection_select  :team2, :id, @teams, :id, :name, :prompt => true , :placeholder =>'Escolha seu time' %>
  </div>
  <div class="field">
    <%= f.label :date_match, "Data da Partida" %><br />
    <%= f.date_select :date_match, :order => [:day, :month, :year], :placeholder => 'Data partida', :value => '' %>	
  </div>
  <div class="field">
	<% if @championships.present? %>
      <div class="controls">
	     <%= f.label :campeonato %>
      </div>  
     <div class="controls" >
	 	<%= select_tag "championship[championship_id]", options_from_collection_for_select(@championships,"id","desc"), 
	       :onchange => "$.post('#{round_select_path}', {'_method':'get', 'championship[id]':this.value} );" %> 
	</div>  
      <% else %>
        Cadastre um novo campeonato
      <% end%>
  </div>
  <div id="select_round_div">
  	<%= render 'select_round', :locals=>{:current_round => @current_round} %>
  </div>
  <div class="actions">
    <%= f.submit 'Criar partida', :class => "btn" %>
  </div>
<% end %>
