<% unless @num_round == nil %>
	<h2 style="font-size:30px; color:#6495ED;margin-left:30%;"><%= @num_round.to_s %>º Rodada</h2>
	<br/>
	<div class="bs-docs-grid">

	<% @matches.each do |match| %>
	    <div class="row-fluid show-grid">
		  <% unless match.goals_team1 == nil %>
		    <div class="span1" style="font-size:40px;margin:23px -30px 0 10px"><%= match.goals_team1 %></div>
		  <% end %>
		  <div class="span1"><%= link_to (image_tag match.team1.image.url(:thumb)), match.team1, :class =>'basic-link' %></div>
	      <div class="span1 span-versus"><%= image_tag ('versus.gif') %></div>
	      <div class="span1"><%= image_tag match.team2.image.url(:thumb), :alt => match.team2.name %></div>
		  <% unless match.goals_team2 == nil %>
		    <div class="span1" style="font-size:40px;margin:23px -30px 0 10px"><%= match.goals_team2 %></div>
		  <% end %>
		   <div class="span3 span-date"><%= standart_date(match.date_match, "/") %></div>
	    </div>
		<div class="article_seperator sep-teams"></div>
	<br/>
	<br/>
	<% end %>

	<div class="flickr_pagination">
	    <%= will_paginate @matches, :previous_label => '← Anterior', :next_label => 'Próximo →', :container => false %>
	</div>
	</div>
	<br />
<% else %>
  	<h2 style="font-size:30px; color:#6495ED;margin-left:5%;">Ainda não há partidas cadastradas para a próxima rodada, aguarde...</h2>
<% end %>

