<h1>Listing matches</h1>

<table>
  <tr>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Goals team 1</th>
    <th>Goals team 2</th>
    <th>Date match</th>
    <th>Round</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.team1 %></td>
    <td><%= match.team2 %></td>
    <td><%= match.goals_team1 %></td>
    <td><%= match.goals_team2 %></td>
    <td><%= match.date_match %></td>
    <td><%= match.round %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
