<% if user_signed_in? %>
  <div class="header content">
	 <div class="championship-div">
		<span><%= collection_select :championship, :id, @championships, :id, :desc, :prompt => true, 
                 :prompt =>'Selecione o campeonato...', :selected => session[:championship_id],
                 :onchange => "$.post('#{set_championship_id_session_path}', {'_method':'get', 'championship[id]':this.value});" %></span>
	 </div>
      <div class="menu">
          <ul class="nav nav-pills pull-right ">
	          <li class="<%= 'active' if current_page?(partidas_da_rodada_path) %>">
                  <%= link_to "Partidas", partidas_da_rodada_path %>
              </li>
              <li class="<%= 'active' if current_page?(teams_path) %>">
                  <%= link_to "Rodadas", round_classification_path %>
              </li>
              <li class="<%= 'active' if current_page?(gambles_path) %>">
                  <%= link_to "Noticias", gambles_path %>
              </li>	 
  
              <!-- Este menu é para os usuarios administradores do sistema, ou seja os high levels -->        
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">                  
                  Administração <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li>
                         <%= link_to "Campeonatos", championships_path %>
                      </li>
                      <li>
                         <%= link_to "Rodadas", rounds_path %>
                      </li>                     
                      <li>
                         <%= link_to "Partidas", matches_path %>
                      </li>
                      <li>                        
                        <%= link_to "Times", teams_path %>
                      </li>
                      <li>
                         <%= link_to "Apostar", apostar_path %>
                      </li>
                      <li>
                        <%= link_to "Apostadores", gambles_path %>
                      </li>
                      <li>
                         <%= link_to "Encerrar", encerrar_partidas_path %>
                      </li>
                  </ul>
              </li>
              <!-- Fim do menu dos high levels -->        

              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user icon-black"></i>&nbsp;&nbsp;
                  <%= current_user.name %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li>
                        <%= link_to(edit_user_path(current_user)) do %><i class="icon-pencil icon-black"></i>&nbsp;&nbsp; Editar Perfil<% end %>
                      </li>
                      <li>
                        <%= link_to(current_user) do %><i class="icon-star icon-black"></i>&nbsp;&nbsp; Campeonatos<% end %>
                      </li>
                      <li>
                        <%= link_to(current_user) do %><i class="icon-calendar icon-black"></i>&nbsp;&nbsp; Historico Apostas    <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to(destroy_user_session_path, :confirm => "nbad") do %>
					                <i class="icon-off icon-black"></i>&nbsp;&nbsp; Log Out
				                <% end %>
                      </li>                      
                  </ul>
              </li>
          </ul>
      </div>
  </div>
<% end %>
