<!DOCTYPE html>
<html>
<head>
  <title>BolaoOnline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#"><%= image_tag 'logo.gif'%></a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
		<ul class="nav nav-pills nav-stacked span3">
			<li> <%= link_to 'Apostas', '#'%> </li>
			<li><%= link_to 'Ranking', '#'%></li>
			<li><%= link_to 'Times', '#'%></li>
			<li><%= link_to 'Clasificação', '#'%></li>									
		</ul>
    </div>
    <div class="span10">
	  <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
