  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bolão duBah Jiow!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "docs" %>
  <% csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
		<%= image_tag "logo.gif" %>	  
		<br/>
   </div>
</div>
<br/>
<div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">	
	  <ul class="nav nav-pills nav-stacked">
		    <li><%= link_to (image_tag current_user.image.url(:thumb), :alt => current_user.name), current_user %></li>
			<li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Home", users_path %></li>
		    <li class="<%= 'active' if current_page?(partidas_da_rodada_path) %>"><%= link_to "Partidas da rodada", partidas_da_rodada_path %></li>
		    <li class="<%= 'active' if current_page?(teams_path ) %>"><%= link_to "Times", teams_path %></li>
		    <li class="<%= 'active' if current_page?(gambles_path ) %>"><%= link_to "Apostadores da rodada", gambles_path %></li>
		    <li class="<%= 'active' if current_page?(encerrar_partidas_path ) %>"><%= link_to "Encerrar partidas", encerrar_partidas_path %></li>
			<li><%= link_to 'Logoff', destroy_user_session_path, :confirm => 'Deseja efetur logoff?'%></li>									  
		</ul>
    </div>
    <div class="span10">
	  <%= yield %>
    </div>
  </div>
</div>
<% else %>
  <%= yield %>
<%end%>
</body>
<%= javascript_include_tag "application" %>
</html>

