<!DOCTYPE html>
<html>
<head>
  <title>BolaoOnline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
		<%= link_to (image_tag "logo.gif"), users_path %>	  
		<br/>
   </div>
</div>
<br/>
<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">		
	  <ul class="nav nav-pills nav-stacked">
			<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Apostas", root_path %></li>
		    <li class="<%= 'active' if current_page?(matches_path) %>"><%= link_to "Partidas da rodada", matches_path %></li>
		    <li class="<%= 'active' if current_page?(teams_path ) %>"><%= link_to "Times", teams_path %></li>
			<li><%= link_to 'Logoff', destroy_user_session_path, :confirm => 'Deseja efetur logoff?'%></li>									  
		</ul>
    </div>
    <div class="span10">
	  <%= yield %>
    </div>
  </div>
</div>
<% else %>
  <%= yield %>
<%end%>
</body>

<%= javascript_include_tag "application" %>
<script type="text/javascript">
/*
$(document).ready(function () {
	$("ul.nav li").click(function(){
		$("ul.nav li").each(function(index){
			if ($(this).hasClass("active")){
			  $(this).removeClass("active");
			}
		});
		$(this).addClass("active");
		index.preventDefault();
	});
});
*/
</script>
</html>

