<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bolão duBah Jiow!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "docs" %>
  <%= stylesheet_link_tag "jquery.countdown.css"%>
  <% csrf_meta_tags %>
</head>
  <body>    
    <div class="bolaodubah-header-bar" style="overflow: inherit;">
        <div class="header content">            
            <%= link_to (image_tag "logo.gif") , root_path, :class => 'logo' %>
        </div>
        <%= render 'layouts/menu' %>    
    </div>    
    <br/>
    <% if user_signed_in? %>   
      <div class="container-fluid">
        <div class="row">
            <div class="span3 offset1">
                <%= render 'layouts/userInfo' %>
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span12">
                        <div class="hero-unit">
                            <%= yield %>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    <% else %>
      <%= yield %>
    <%end%>
    <hr>
    <footer>
        <center>
        <p>&copy; STARTAR Tecnologia 2012</p>
        </center>
    </footer>
  </body>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.countdown" %>
</html>

